<div class="list-recipe">
  <div class="dashboard_head">
    <h1 class="title"><%= @name_user.capitalize %>'s recipes</h1>
    <a class="new-recipe button" href=<%= "/add-recipe/#{@id_user}"%>>Add new recipe</a>
  </div>

  <% @recipes.each do |recipe| %>
    <div class="item oh">
      <img class="image left" src="<%= recipe["images"][-1] %>" width="120" height="75">
      <div class="left">
        <h1 class="title"><a href="/recipes/<%= recipe["id"] %>"><%= recipe["name"] %></a></h1>
        <div class="features row">
          <div class="show-quality">
            <% recipe["quality"][0].times do %>
            <img class="heart heart-on" src="/img/heart.svg" alt="" width="14">
            <% end %>
            <% (5 - recipe["quality"][0]).times do %>
            <img class="heart heart-off" src="/img/heart.svg" alt="" width="14">
            <% end %>
          </div>
          <span>| <%= recipe["difficult_display"]%> | <%= recipe["duration_time"][0] %> minutes
          </span>
        </div>
      </div>
      <form class="right" action="/delete-recipe" method="POST"
        onsubmit="return confirm('Are you sure you want to delete the following recipe?')">
        <input type="hidden" name="id_recipe" value="<%= recipe["id"] %>" />
        <input type="hidden" name="name" value="<%= recipe["name"] %>" />
        <input type="hidden" name="id_user" value="<%= @id_user %>" />
        <input class="button -second" type="submit" value="Delete" />
      </form>
    </div>
  <% end %>
</div>
<% if false %>
<% end %>