<div class="list-recipe">
  <div class="oh filter-bar">
    <div class="left row">
      <form class="feedback-form mr" action="/sort_index" method="POST">
        <input type="text" hidden name="sort_type" value="difficulty" />
        <input type="submit" class="input feedback-input" name="dif_order" value="Difficulty Order"></input>
      </form>
      <form class="feedback-form" action="/sort_index" method="POST">
        <input type="text" hidden name="sort_type" value="quality" />
        <input type="submit" class="input feedback-input" name="dif_order" value="Quality order"></input>
      </form>
    </div>
    <div class="right row">
      <form class="feedback-form row" action="/sort_index" method="POST">
        <select class="input feedback-input" name="quality_filter" required>
          <option value="" disabled="disabled" selected>Quality</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit" class="button feedback-input" value="Filter">
      </form>

      <form class="feedback-form row ml" action="/sort_index" method="POST">
        <select class="input feedback-input" name="difficult_filter" required>
          <option value="" disabled="disabled" selected>Difficult</option>
          <option value="Easy">Easy</option>
          <option value="Medium">Medium</option>
          <option value="Hard">Hard</option>
        </select>
        <input type="submit" class="button feedback-input" value="Filter">
      </form>
    </div>
  </div>

  <% @recipes.each do |key, recipe| %>
  <div class="item oh">
    <img class="image left" src="<%= recipe["images"][-1] %>" width="120" height="75">
    <div class="left">
      <h1 class="title"><a href="/recipes/<%= recipe["id"] %>"><%= recipe["name"] %></a></h1>
      <div class="features row">
        <div class="show-quality">
          <% recipe["quality"].times do %>
          <img class="heart heart-on" src="/img/heart.svg" alt="" width="14">
          <% end %>
          <% (5 - recipe["quality"]).times do %>
          <img class="heart heart-off" src="/img/heart.svg" alt="" width="14">
          <% end %>
        </div>
        <span>| <%= recipe["difficult_display"]%> | <%= recipe["duration_time"] %> minutes
        </span>
      </div>
    </div>
  </div>
  <% end %>
</div>