<div>
<form class="feedback-form"  action="/sort" method="POST">
    <input type="text" hidden name="sort_type" value="difficulty" />
    <input type="submit" class="input feedback-input" name="dif_order" value="Difficulty Order"></input>
</form>
 
<form class="feedback-form"  action="/sort" method="POST">
  <input type="text" hidden name="sort_type" value="quality" />
  <input type="submit" class="input feedback-input" name="dif_order" value="Quality order"></input>
</form>

<form class="feedback-form" action="/sort" method="POST">
  <select class="input feedback-input" name="quality_filter" required>
    <option value="" disabled="disabled" selected>Quality</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>  
  <input type="submit" class="input feedback-input" value="Filter">
</form>
  
</div>

<div class="list-recipe">
  <% @recipes.each do |key, recipe| %>
  <div class="item oh">
    <img class="image left" src="<%= recipe["images"][-1] %>" width="120" height="75">
    <div class="left">
      <h1 class="title"><a href="/recipes/<%= recipe["id"] %>"><%= recipe["name"] %></a></h1>
      <div class="features row">
        <div class="show-quality">
          <% recipe["quality"][0].times do %>
          <img class="heart heart-on" src="/img/heart.svg" alt="" width="14">
          <% end %>
          <% (5 - recipe["quality"][0]).times do %>
          <img class="heart heart-off" src="/img/heart.svg" alt="" width="14">
          <% end %>
        </div>
        <span>| <%= recipe["difficult_display"]%> | <%= recipe["duration_time"] %> minutes
        </span>
      </div>
    </div>
  </div>
  <% end %>
</div>